
            <ul class ="sr-only">
                <li class="wb-slc">
                    <a class="wb-sl" href="#wb-cont">
                        {{ if eq .Lang "fr" }}
                            Passer au contenu principal
                        {{ else }}
                            Skip to main content
                        {{ end }}
                    </a>
                </li>
                <li class="wb-slc">
                    <a class="wb-sl" href="#wb-info">
                        {{ if eq .Lang "fr" }}
                            Passer à «&#160;Au sujet du gouvernement&#160;»
                        {{ else }}
                            Skip to "About government"
                        {{ end }}
                    </a>
                </li>
            </ul>
